[python: ckanext/actor_registry/**.py]
[jinja2: ckanext/actor_registry/templates/**.html]
encoding = utf-8
extensions = jinja2.ext.do,babel_ckan_tag_shims.AssetShim,babel_ckan_tag_shims.SnippetShim,babel_ckan_tag_shims.CkanExtendsShim
